@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Playfair+Display:wght@400;700&family=Ysabeau:wght@600&display=swap');

:root{
--main-color : #5C8692;
--second-color : #7A9CA5;
--third-color : #1e2c30;
--home-color : #EBF3F5;
--body-color : #E2E2E2;


--main-font : 'Playfair Display', sans-serif;
--heading-font : 'Manrope', sans-serif;
--second-font : 'Ysabeau', sans-serif;
}

body{
background-color: var(--home-color);
font-family: var(--main-font);
height: 100vh;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}


section{
    margin-top: 200px;
}


/* font logo navbar */
.navbar-brand, .logo-foot{
    font-family: var(--second-font);
}

/* font navbar icon */
.navbar-nav{
    font-family: var(--heading-font); 
}
.nav-item:hover{
    background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang diinginkan saat dihover */
}
.nav-item:hover .dropdown-menu {
  display: block; /* Menampilkan dropdown menu saat dihover */
}


/* home start */
.container-home{
    margin-top: 240px;
    /* overflow: hidden; Membersihkan float */
}
.container-home .home-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-wrapper .heading{
    font-size: 4.1rem;
    font-family: var(--main-font);
    font-weight: bold;
    color: #1e2c30;   
}
.home-wrapper .subheading{
    font-size: 1.188rem;
    font-family: var(--heading-font);
    /* margin-top: 10px; */
    margin: 25px 0;
    max-width: 500px;
}
.home-wrapper .content-left{
    /* float: left;
    width: 50%; */
    flex: 0 0 50%;
}
.home-wrapper .content-right{
    /* float: left;
   
    /* display: flex; */ 
    flex: 0 0 50%;
}
.content-right .img-wrapper{
    max-width: 850px;  
}
.content-right .img-wrapper img{
    width: 100%;
    /* margin-top: 100px; */
    /* height: auto; */
}
.insight-btn .btn-primary {
    background-color: var(--main-color); /* warna awal button */
    color: #fff;
    border: 2px solid #5C8692;
    border-radius: 0px; /* Rounded corners */
    padding: 10px 20px;
    text-decoration: none; /* Remove underline */
    font-family: var(--heading-font);
    }
      
      .insight-btn .btn-primary:hover {
        background-color: var(--third-color); /* Hover color */
      }
      
      .insight-btn .btn-primary:active {
        background-color: var(--third-color); /* Active color */
      }
/* home end */

/* service start */
.service .service-wrapper{
    margin: auto;
}
.service-wrapper .row1{
    text-align: center;
}
.service-wrapper .label-service{
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--third-color);
}
.service-wrapper .heading-service{
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--third-color);
    margin: 10px 0;
}
.service-wrapper .subheading-service{
    font-size: 20px;
}
.service-wrapper .row2{
    margin: 50px;
    background-color: #1e2c30;
    
    color: #EBF3F5;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    border-radius: 50px 50px 0 0;
}
.row2 .box-service{
    position: relative;
    max-width: 300px;
    text-align: center;
    padding: 30px;
}
.box-service i{
    font-size: 2rem;
}
.box-service h3{
    margin-top: 10px;
    font-size: 20px;
}
/* service end */

/* statistik start */
.statistik-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statistik-wrapper .content.img{
    flex: 0 0 50%;
    max-width: 300px;
}
.statistik-wrapper .content-statis{
    flex: 0 0 50%;
}
.content-img img{
    width: 100%;
}
.content-statis .label-statis{
    font-size: 15px;
    font-family: var(--main-font);
    color: var(--third-color);
}
.content-statis .heading-statis{
    font-family: var(--main-font);
    font-size: 35px;
    font-weight: 700;
    width: 70%;
    margin: 20px 0;
}
.content-statis .subheading-statis{
    font-size: 15px;
    width: 80%;
    font-family: var(--heading-font);
}
.content-statis .angka-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}
.angka-wrapper .box-angka{
    text-align: center;
    margin-bottom: 20px;
}
.box-angka h1{
    font-family: var(--main-font);
    font-weight: 700;
    color: #141414;
    font-size: 30px;
}
/* statistik end */


/* footer start */
.footer{
    padding: 20px;
    background-color: #fff;
}
.footer .logo-foot{
    text-align: center;
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: #1e2c30;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-family: var(--heading-font);
}
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    padding-bottom: 0%;
}
/* footer end */

/* insight start */
.btn-success {
    background-color: var(--main-color) !important; 
    border-color: var(--main-color) !important;
    color: #fff !important;
 } 
 .btn-outline-success {
    background-color: #fff !important;
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
 }
 
 .btn-outline-success:focus{
    background-color: var(--main-color) !important;
    color: #fff !important;
 } 
 .btn-outline-dark{
    border: 2px solid #5C8692;
    background-color: var(--main-color);
    color: #fff;
 }
/* insight end */

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}