@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Playfair+Display:wght@400;700&family=Ysabeau:wght@600&display=swap');

:root{
--main-color : #5C8692;
--second-color : #7A9CA5;
--third-color : #1e2c30;
--home-color : #EBF3F5;
--body-color : #E2E2E2;


--main-font : 'Playfair Display', sans-serif;
--heading-font : 'Manrope', sans-serif;
--second-font : 'Ysabeau', sans-serif;

}

body{
background-color: var(--home-color);
font-family: var(--main-font);
height: 100vh;
/* background: linear-gradient( */
    /* to right, */
    /* #EBF3F5 0%, */
    /* #EBF3F5 55%, */
    /* #1e2c30 55%, */
    /* #1e2c30 100% */
/* ); */


}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}


section{
    margin-top: 200px;
}

h1{
    margin:0;
    padding:0;
    vertical-align: middle;
}

.container{
    max-width: 1000px;
}

/* font logo navbar */
.navbar-brand{
    font-family: var(--second-font);

}

/* font navbar icon */
.navbar-nav{
    font-family: var(--heading-font); 
}


/* home start */
.container-home{
    margin-top: 110px;
}
.home .home-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.home-wrapper .heading{
    font-size: 4rem;
    font-family: var(--main-font);
    font-weight: bold;
    color: #1e2c30;   
}

.home-wrapper .subheading{
    font-size: 1rem;
    font-family: var(--heading-font);
}
.home-wrapper .content-left{
 
    flex: 0 0 50%;
    
}

.home-wrapper .content-right{
    flex: 0 0 50%;
}

.content-right .img-wrapper{
    max-width: 500px;

}.content-right.img-wrapper img{
    width: 80%;
}

.insight-btn .btn-primary {
    background-color: var(--main-color); /* Primary button color */
    color: #fff; /* Text color */
    border: 2px solid #5C8692;
    border-radius: 0px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    text-decoration: none; /* Remove underline */
    font-family: var(--heading-font);
    
    }
      
      .insight-btn .btn-primary:hover {
        background-color: var(--third-color); /* Hover color */
      }
      
      .insight-btn .btn-primary:active {
        background-color: var(--third-color); /* Active color */
      }
      


/* home end */

/* service start */
.service .service-wrapper{
    margin: auto;
   
}

.service-wrapper .row1{
    text-align: center;
}
.service-wrapper .label-service{
    font-size: 15px;
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--third-color);
}

.service-wrapper .heading-service{
    font-size: 40px;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--third-color);
    margin: 10px 0;
}

.service-wrapper .subheading-service{
    font-size: 20px;
}

.service-wrapper .row2{
    margin: 50px;
    background-color: #1e2c30;
    
    color: #EBF3F5;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    border-radius: 50px 50px 0 0;
}

.row2 .box-service{
    position: relative;
    max-width: 300px;
    text-align: center;
    padding: 30px;
}

.box-service i{
    font-size: 2rem;
}

.box-service h3{
    margin-top: 10px;
    font-size: 20px;

}
/* service end */

/* statistik start */
.statistik-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistik-wrapper .content.img{
    flex: 0 0 50%;
    max-width: 400px;
}

.statistik-wrapper .content-statis{
    flex: 0 0 50%;
}

.content-img img{
    width: 100%;
}

.content-statis .label-statis{
    font-size: 15px;
    font-family: var(--main-font);
    color: var(--third-color);
}

.content-statis .heading-statis{
    font-family: var(--main-font);
    font-size: 35px;
    font-weight: 700;
    width: 70%;
    margin: 20px 0;
}

.content-statis .subheading-statis{
    font-size: 15px;
    width: 80%;
    font-family: var(--heading-font);
}

.content-statis .angka-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}

.angka-wrapper .box-angka{
    text-align: center;
    margin-bottom: 30px;
}

.box-angka h1{
    font-family: var(--main-font);
    font-weight: 700;
    color: #141414;
    font-size: 30px;
}
/* statistik end */

/* footer start */
.footer{
    margin-top: 200px;
}

/* .container .footer-wrapper{
   
} */
 .footer-wrapper{
    margin-right: 50px;
    display: flex;
    /* justify-content: space-between;
    margin: 50px;
    background-color: #1e2c30 ;
    color: #EBF3F5; */
 }

 .col-1-footer .logo-footer{
    font-family: var(--second-font);
    font-size: 25px;
    color: #141414;
 }

 .logo-footer span{
    font-size: 25px;
    color: var(--third-color);
 }

 .col-1-footer .subheading-footer{
    font-size: 20px;
    margin-top: 20px;
 }

 .sosmed-icon{
    font-size: 3rem;
    color: var(--third-color);
    margin: 20px 5px;
 }

 .col-1-footer .copy{
    margin-top: 50px;
 }

 .col-2-footer h3, .col-3-footer h3, .col-4-footer h3, .col-5-footer h3{
    font-size: 20px;
    font-family: var(--heading-font);
    font-weight: 700;
 }

 .col-2-footer ul, .col-3-footer ul, .col-4-footer ul{
    margin-top: 20px;
 }

 .col-2-footer ul li, .col-3-footer ul li, .col-4-footer ul li{
    margin-top: 10px;
 }

 .col-2-footer li a, .col-3-footer li a, .col-4-footer li a{
    font-size: 18px;
    color: #1e2c30;
 }

 .col-5-footer p{
    margin-top: 20px;
    font-size: 18px;
 }

 .form-input{
    margin-top: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(red, green, blue, alpha);


 }
/* footer end */

/* insight start */
.grafana-frame {
    width: 100%;
    height: 500px;
}

  

/* insight end */

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}